@using System.Text.Json;
@using UI.Components.Dialogs.Base
@inherits LayoutComponentBase

@inject NavigationManager navigationManager

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-2">
			
		</div>

		<article>
			@Body
		</article>
	</main>
</div>
<DialogsRegistrationForm />

@code {
	[Inject]
	public AppSettings appSettings { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var appSettingsJson = await SecureStorage.Default.GetAsync("app-settings");

		if (appSettingsJson == null) await SecureStorage.Default.SetAsync("app-settings", JsonSerializer.Serialize(appSettings));
		else
		{
			var storedAppSettings = JsonSerializer.Deserialize<AppSettings>(appSettingsJson);

			var needRefresh = appSettings.Language != storedAppSettings.Language;
			appSettings.Language = storedAppSettings.Language;
			appSettings.PalySound = storedAppSettings.PalySound;
			if (needRefresh) navigationManager.NavigateTo(navigationManager.Uri, true);
		}
	}
}