.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.8rem;
    box-shadow: 0px 1px 3px 0px #55555555;
    width: 2em;
    height: 2em;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s ease;
}

.column-name {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-weight: bold;
}

.left-remove-buttons-container {
    padding-top: calc(.5em + 30px + .5em + 2em + .5em)
}