@page "/"
<PageLayout>
    <div class="matrix-card pb-2 pe-2">
    <div class="d-flex flex-row">
        @if (isRedacted && (matrix.Values.FirstOrDefault()?.Count ?? 0) != 0)
        {
            <div class="d-flex flex-column ms-2 left-remove-buttons-container">
                @{
                    @for (int i = 0; i < (matrix.Values.FirstOrDefault()?.Count ?? 0); i++)
                    {
                        int j = i; //If this is not done, then the maximum value of i is always passed to the method
                        <div class="mt-2">
                            <RemoveButton @onclick="() => RemoveRow(j)" />
                        </div>
                    }
                }
            </div>
        }
        @foreach (var column in matrix)
        {
            <div class="d-flex flex-column justify-content-start align-items-center pt-2 ps-2">
                @if (isRedacted)
                {
                    <div class="pb-2">
                        <RemoveButton @onclick="() => RemoveColumn(column.Key)" />
                    </div>
                }
                <div class="column-name-frame">
                    <div class="column-name">@column.Key</div>
                </div>
                @{
                    @for (int i = 0; i < column.Value.Count; i++)
                    {
                        int j = i; //If this is not done, then the maximum value of i is always passed to the method
                        <div class="frame cell mt-2 ripple" @onclick="() => ChangeValue(column.Key, j)">@column.Value[i]</div>
                    }
                }
            </div>
        }
        <div class="d-flex flex-row mt-2 ms-2">
            <AddButton style="cursor: pointer" @onclick="AddColumn" />
        </div>
    </div>
    @if (matrix.Any())
    {
        <div class="d-flex flex-column ms-2 mt-2">
            <AddButton style="cursor: pointer" @onclick="AddRow" />
        </div>
    }
</div>
</PageLayout>