@using UI.Components.Dialogs.Base
@inherits BaseDialog<MessageDialogParams, object>

@inject AppSettings appSettings

<BaseDialogLayout IsShown="IsShown">
    <BaseModal Title="@Parameters.Title" OnClose="() => this.Close(null)" OnKeyEnterPressed="OnKeyEnterPressed" DispalyCenter="true">
        <Content>
            <div class="d-flex flex-row mt-2">
                @Parameters.Message
            </div>
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-success" OnClick="() => this.Close(null)">Ok</ModalButton>
                @if (appSettings.PalySound && Parameters.SoundName != null)
                {
                    <audio autoplay><source src="audio/@Parameters.SoundName" /></audio>
                }
            </div>
        </Footer>
    </BaseModal>
</BaseDialogLayout>

@code {

    protected void OnKeyEnterPressed()
    {
        this.Close(null);
    }
}