@using Plugin.Maui.Audio;
@inherits Dialog<MessageDialogParams, object>

@inject AppSettings appSettings

<DialogLayout IsDisplayed="IsDisplayed">
    <Modal Title="@Parameters.Title" OnClose="() => this.Close(null)" OnKeyEnterPressed="OnKeyEnterPressed" DispalyCenter="true">
        <Content>
            <div class="d-flex flex-row mt-2">
                @((MarkupString)Parameters.Message)
            </div>
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-success" OnClick="() => this.Close(null)">Ok</ModalButton>
            </div>
        </Footer>
    </Modal>
</DialogLayout>

@code {

    [Inject]
    public DialogsService DialogsService { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        DialogsService.RegisterDialog(this);
        base.OnAfterRender(firstRender);
    }

    [Inject]
    public IAudioManager AudioManager { get; set; }

    protected override async void OnAfterShow()
    {
        @if (appSettings.PalySound && Parameters.SoundName != null)
        {
            var audioPlayer = AudioManager.CreatePlayer(await FileSystem.OpenAppPackageFileAsync($"audio/{Parameters.SoundName}"));
            audioPlayer.Play();
        }
    }

    protected void OnKeyEnterPressed()
    {
        this.Close(null);
    }
}