@using Plugin.Maui.Audio;
@using UI.Components.Dialogs.Base
@inherits BaseDialog<MessageDialogParams, object>

@inject AppSettings appSettings

<BaseDialogLayout IsShown="IsShown">
    <BaseModal Title="@Parameters.Title" OnClose="() => this.Close(null)" OnKeyEnterPressed="OnKeyEnterPressed" DispalyCenter="true">
        <Content>
            <div class="d-flex flex-row mt-2">
                @Parameters.Message
            </div>
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-success" OnClick="() => this.Close(null)">Ok</ModalButton>
            </div>
        </Footer>
    </BaseModal>
</BaseDialogLayout>

@code {

    [Inject]
    public IAudioManager AudioManager { get; set; }

    protected override async void OnShow()
    {
        @if (appSettings.PalySound && Parameters.SoundName != null)
        {
            var audioPlayer = AudioManager.CreatePlayer(await FileSystem.OpenAppPackageFileAsync($"audio/{Parameters.SoundName}"));
            audioPlayer.Play();
        }
    }

    protected void OnKeyEnterPressed()
    {
        this.Close(null);
    }
}